include README.md
README.md
setup.py
yandexmaps_widget/__init__.py
yandexmaps_widget/models.py
yandexmaps_widget/widgets.py
yandexmaps_widget/static/js/ymaps-point-widget.js
yandexmaps_widget/templates/yandexmaps_widget/ymaps_point_widget.html
exclude *.pyc
